# required packages
fastapi
uvicorn
starlette
openai
langchain
langchain-openai
langchain_chroma
langchain_community
chromadb

tiktoken

pytest
pytest-mock
pytest-asyncio
httpx

pytest
pypdf
python-multipart