# required packages
fastapi
uvicorn
starlette
openai
langchain
langchain-openai
langchain_chroma
langchain_community
chromadb

pytest
pytest-mock
pytest-asyncio
python-cov
httpx

pypdf
python-multipart
